/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

button{
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(37, 134, 2);
    padding: 8px;
}

button:hover{
    color: black;
    background-color: rgb(19, 253, 7);
}